{% extends 'main/base.html' %}

{% block body %}

    {% if persons_list %}
        <table style="width:100%" class="table">
            <tr class="column_names">
                <th>Person</th>
                <th>Category</th>
                <th>Achievement</th>
            </tr>
            {% if user.is_authenticated %}
                <form action="{% url 'main:home' %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-default" value="Add Person">
                </form>
                <hr/>
            {% endif %}
            {% for persons in persons_list %}
                <tr class="columns">
                    <td><a href="{% url 'main:details' persons.id %}">{{ persons.name }} {{ persons.surname }}</a></td>
                    <td>{{ persons.category }}</td>
                    <td>{{ persons.achievements }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No persons is available who got achievements in the specified category yet.</p>
    {% endif %}
{% endblock %}